In [ ]:
#Task 1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values. (4 features and 4 observation)

In [2]:
import pandas as pd
import numpy as np

In [25]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.819089  0.065556  0.306071  0.243400
1  0.380328  0.112962  0.374790  0.718089
2  0.008063  0.444086  0.316791  0.826500
3  0.018110  0.485288  0.526506  0.219909

In [ ]:
#Task 2 - Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4

In [26]:
df.columns = ['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.819089        0.065556        0.306071        0.243400
1        0.380328        0.112962        0.374790        0.718089
2        0.008063        0.444086        0.316791        0.826500
3        0.018110        0.485288        0.526506        0.219909

In [ ]:
#Task 3 - Find the descriptive statistics of the 'df' dataframe.

In [27]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.306397        0.276973        0.381039        0.501975
std          0.383159        0.218265        0.101567        0.315406
min          0.008063        0.065556        0.306071        0.219909
25%          0.015598        0.101111        0.314111        0.237528
50%          0.199219        0.278524        0.345791        0.480745
75%          0.490018        0.454386        0.412719        0.745192
max          0.819089        0.485288        0.526506        0.826500

In [ ]:
#Task 4 - Check for the null values in 'df' and find the data type of the columns.

In [28]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [29]:
df['Random Value 1'].dtype

dtype('float64')

In [30]:
df['Random Value 2'].dtype

dtype('float64')

In [31]:
df['Random Value 3'].dtype

dtype('float64')

In [32]:
df['Random Value 4'].dtype

dtype('float64')

In [ ]:
#Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [36]:
df.loc[0:4,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0        0.065556        0.306071
1        0.112962        0.374790
2        0.444086        0.316791
3        0.485288        0.526506

In [38]:
df.iloc[0:,1:3]

   Random Value 2  Random Value 3
0        0.065556        0.306071
1        0.112962        0.374790
2        0.444086        0.316791
3        0.485288        0.526506